<div class="container  mt-4">
    <table class=" table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of gitUsers; index as i'>
                <td>{{i+1}}</td>
                <td>{{user.node_id}}</td>
                <td>{{user.login}}</td>
                <td><img [src]="user.avatar_url"  width="200px" heigth="200px"
                    alt="user Image">
                </td>
                <td>{{user.url}}</td>
            </tr>
        </tbody>
    </table>
</div>
