form{
    border: 1px solid blue;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin-left: 330px;
    margin-top: 200px;
    text-align: center;
    background-image: url(/image/sunrise-4560438_960_720.jpg);
    font-size: 2;
    color:blue;
    box-shadow:0 0 200px rgb(0, 81, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input[type="text"],input[type="password"]{
    width: 200px;
    height: 30px;
    border: 2px solid green;
    border-radius: 20px;
    margin: 10px;
    outline: none;
    text-align: center;
    
}
input[type="submit"]{
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
    
}
input[type="submit"]:hover{
    background-color: royalblue;
    cursor: pointer;
}
body{
    background-image: url("/image/swans-4556792_960_720.jpg");
    background-size: cover;
}