<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="https://cdn.pixabay.com/photo/2019/10/26/14/55/foliage-leaf-4579709_960_720.jpg" class="card-img-top"
        alt="">
      <div class="card-body">
        <h5 class="card-title">Marching</h5>
        <p class="card-text"> Some quick example text to build on the
          card title and make up the
          bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://image.shutterstock.com/image-photo/autumn-forest-lake-water-landscape-260nw-1165468483.jpg"
        class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">tree</h5>
        <p class="card-text"> Some quick example text to build on the
          card title and make up the
          bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://image.shutterstock.com/image-photo/background-texture-yellow-
                      leaves-autumn-260nw-298140752.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">leaf</h5>
        <p class="card-text"> Some quick example text to build on the
          card title and make up the
          bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>