<div class="col-md-3 float left">
<div class="row">
    <a routerLink="bikes">
   <img src="https://cdn.pixabay.com/photo/2014/07/31/23/37/motorbike-407186__340.jpg" 
    width="100%" alt="bikes"></a>

    <a routerLink="cars">
    <img src="https://cdn.pixabay.com/photo/2016/04/01/12/16/car-1300629_960_720.png"
      width="100%" alt="cars"></a>


    <a routerLink="planes">
    <img src="https://cdn.pixabay.com/photo/2017/03/27/13/51/air-force-2178863_960_720.jpg"
      width="100%" alt="planes">
    </a>
  </div>
</div>
<router-outlet></router-outlet>