<div class="col-md-6 offset-md-3 mt-5 ">
    <h4 >Please Register!!!!</h4>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">First and last name</span>
        </div>
        <input type="text" aria-label="First name" class="form-control" placeholder="First Name">
        <input type="text" aria-label="Last name" class="form-control" placeholder="LastName">
    </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input type="email" name="email" id="email" class="form-control" placeholder="enter Email address">
    </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text">DOB</span>
                </div>
        <input type="date" name="date" id="date" class="form-control" placeholder="enter date of birth">
    </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter password">
    </div>
  <div class="btn-group float-right">
      <button type="reset" class="btn btn-outline-dark ">Reset</button>
      <button type="submit" class="btn btn-outline-primary ">Submit</button>
  </div>
</div>
